{% extends "layout/list_layout.html" %}

{% block title_left %}  {% endblock title_left %}

{% block title_table %} Available references {% endblock title_table %}

{% block above_table_text %}
<div style="text-align: center">
    <a href="{{ url_for('references.create') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>Add
    </a>
</div>
{% endblock above_table_text %}

{% block list_table %}
{{ super() }}
{% if references %}
<table id="datatable-buttons" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th width="10%"> Id</th>
        <th width="20%"> Name</th>
        <th width="50%"> URL</th>
        <th width="20%"> Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for ref in references %}
    <tr>
        <td> {{ ref.id }}</td>
        <td> {{ ref.name }}</td>
        <td> {{ ref.link }}</td>
        <td>
            <a href="{{ url_for('references.edit', id=ref.id) }}" class="btn btn-default btn-xs">
                <i class="glyphicon glyphicon-edit"></i> Edit
            </a>
            <a href="{{ url_for('references.delete', id=ref.id) }}" class="btn btn-default btn-xs">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div style="text-align: center">
    <p> No references defined. </p>
    <hr class="intro-divider">
</div>
{% endif %}

{% endblock list_table %}

{% block below_list_table %}{% endblock below_list_table %}



