{% extends "layout/list_layout.html" %}

{% block title_left %}  {% endblock title_left %}

{% block title_table %} Available companies {% endblock title_table %}

{% block above_table_text %}
<div style="text-align: center">
    <a href="{{ url_for('contacts.add_company') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Add
    </a>
</div>
{% endblock above_table_text %}

{% block list_table %}
{{ super() }}
{% if companies %}
<table id="datatable-buttons" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th width="10%"> Id</th>
        <th width="70%"> Name</th>
        <th width="20%"> Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for c in companies %}
    <tr>
        <td> {{ c.id }}</td>
        <td> {{ c.name }}</td>
        <td>
            <a href="{{ url_for('contacts.edit_company', id=c.id) }}" class="btn btn-default btn-xs">
                <i class="glyphicon glyphicon-edit"></i> Edit
            </a>
            <a href="#" class="btn btn-default btn-xs">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<div style="text-align: center">
    <p> No companies are defined. </p>
    <hr class="intro-divider">
</div>
{% endif %}

{% endblock list_table %}

{% block below_list_table %}{% endblock below_list_table %}
