{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/create_layout.html" %}
{% from "_formhelpers.html" import render_field, render_submit_field %}

{% block title_left %}
    Company
{% endblock title_left %}

{% block title_form %}
    {{ title }}
{% endblock title_form %}

{% block form_content %}
    {{ super() }}
    {% for message in get_flashed_messages() %}
      <p>Flash: {{ message }}</p>
    {% endfor %}
    <form action="" method="post" data-parsley-validate class="form-horizontal form-label-left">
        {{ form.hidden_tag() }}
        {{ render_field(form.name, size=100) }}
        {{ render_field(form.street) }}
        {{ render_field(form.zipcode, size=10) }}
        {{ render_field(form.city) }}
        {{ render_field(form.notes, class='ckeditor') }}
        {{ render_submit_field(form.submit) }}
    </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='notes') }}
{% endblock form_content %}

{% block below_form %}
{% endblock below_form %}



{% block javascripts %}
  {{ super()}}
  <!-- Parsley -->
  <script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
  <!-- Select2 -->
  <script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>
{% endblock javascripts %}