{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/create_layout.html" %}
{% from "_formhelpers.html" import render_field, render_submit_field %}

{% block title_left %}
    Tag
{% endblock title_left %}

{% block title_form %}
    {{ title }}
{% endblock title_form %}

{% block form_content %}
  {{ super() }}
    {% for message in get_flashed_messages() %}
      <p>Flash: {{ message }}</p>
    {% endfor %}
    <form action="" method="post" data-parsley-validate class="form-horizontal form-label-left">
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {{ render_submit_field(form.submit) }}
    </form>
{% endblock form_content %}

{% block below_form %}

{% endblock below_form %}
