{% extends "layout/list_layout.html" %}

{% block title_left %}  {% endblock title_left %}

{% block title_table %} Available tags {% endblock title_table %}

{% block above_table_text %}
<div style="text-align: center">
    <a href="{{ url_for('tags.create') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Add
    </a>
</div>
{% endblock above_table_text %}

{% block list_table %}
{{ super() }}
{% if tags %}
  <table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="10%"> Id </th>
                <th width="70%"> Tag name </th>
                <th width="20%"> Actions </th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
              <tr>
                <td> {{ tag.id }} </td>
                <td> {{ tag.name }} </td>
                <td>
                    <a href="{{ url_for('tags.edit', id=tag.id) }}" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-edit"></i> Edit
                    </a>
                    <a href="{{ url_for('tags.delete', id=tag.id) }}" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-trash"></i> Delete
                    </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
  </table>

{% else %}
    <div style="text-align: center">
      <p> No tags are defined. </p>
      <hr class="intro-divider">
    </div>
{% endif %}

{% endblock list_table %}

{% block below_list_table %}{% endblock below_list_table %}
