{% extends "layout/list_layout.html" %}

{% block title_left %}  {% endblock title_left %}

{% block title_table %} Available vulnerability templates {% endblock title_table %}

{% block above_table_text %}
<div style="text-align: center">
    <a href="{{ url_for('vulns.create') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Add
    </a>
</div>
{% endblock above_table_text %}

{% block list_table %}
{{ super() }}
{% if vulns %}
<table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="10%"> Id </th>
                <th width="40%"> Vulnerability name </th>
                <th width="15%"> Impact </th>
                <th width="15%"> Impact </th>
                <th width="20%"> Actions </th>
            </tr>
            </thead>
            <tbody>
            {% for vuln in vulns %}
              <tr>
                <td> {{ vuln.id }} </td>
                <td> {{ vuln.name }} </td>
                <td> {{ vuln.impact }} </td>
                <td> {{ vuln.likelihood }} </td>
                <td>
                    {% if current_user.has_role('Admin') or current_user.has_role('Tag Admin') -%}
                  <a href="{{ url_for('vulns.edit', id=vuln.id) }}">
                      <button type="button" class="btn btn-info btn-xs">Edit</button>
                  </a>
                  <a href="{{ url_for('vulns.delete', id=vuln.id) }}">
                      <button type="button" class="btn btn-danger btn-xs">Delete</button>
                  </a>
                    {%- endif -%}
                </td>
              </tr>
            {% endfor %}
            </tbody>
  </table>
</div>
{% else %}
    <div style="text-align: center">
      <p> No vulnerability templates defined. </p>
      <hr class="intro-divider">
    </div>
{% endif %}

{% endblock list_table %}

{% block below_list_table %}

{% endblock below_list_table %}

