{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/create_layout.html" %}
{% from "_formhelpers.html" import render_field , render_submit_field, render_select2_field%}

{% block title_left %}
    Vulnerability template
{% endblock title_left %}

{% block title_form %}
    {{ title }}
{% endblock title_form %}

{% block form_content %}
  {{ super() }}
    {% for message in get_flashed_messages() %}
      <p>Flash: {{ message }}</p>
    {% endfor %}
    <form action="" method="post" data-parsley-validate class="form-horizontal form-label-left">
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        <div class="form-group">
            {{ form.impact.label(class="control-label col-md-3 col-sm-3 col-xs-12") | safe }}
            <div class="col-md-2 col-sm-12 col-xs-12 form-group">
              {{ form.impact(class="form-control")|safe }}
            </div>
            {{ form.likelihood.label(class="control-label col-md-2 col-sm-3 col-xs-12") | safe }}
            <div class="col-md-2 col-sm-12 col-xs-12 form-group">
              {{ form.likelihood(class="form-control")|safe }}
            </div>
        </div>
        <div class="form-group">
            {{ form.exploit_available.label(class="control-label col-md-3 col-sm-3 col-xs-12") | safe }}
            <div class="col-md-1 col-sm-12 col-xs-12 form-group">
              {{ form.exploit_available(class="form-control")|safe }}
            </div>
        </div>
        {{ render_select2_field(form.tags) }}
        {{ render_field(form.references) }}
        {{ render_field(form.description, class="ckeditor") }}
        {{ render_field(form.solution, class="ckeditor") }}
        {{ render_submit_field(form.submit) }}
    </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='description') }}
        {{ ckeditor.config(name='solution') }}
{% endblock form_content %}

{% block below_form %}
{% endblock below_form %}

{% block javascripts %}
  {{ super()}}
  <!-- Parsley -->
  <script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
  <!-- Select2 -->
  <script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>
{% endblock javascripts %}