{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_layout.html" %}

{% block content %}
{{ super() }}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
            <div class="title_left">
                <h3>Your projects and tasks</h3>
            </div>
        </div>

      <div class="clearfix"></div>

      <div class="row">

          <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
                <h2>Your projects</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              {% if projects %}
                {% for p in projects %}
                <ul class="list-unstyled timeline">
                    <li>
                      <div class="block">
                        <div class="tags">
                          <a href="" class="tag">
                            <span>{{ p.status }}</span>
                          </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title"><a href="{{ url_for('projects.dashboard', pid=p.id) }}">{{ p.name }}</a></h2>
                          <div class="byline">
                            <span>Project manager:</span> <a>{{ p.project_manager }}</a>
                          </div>
                          <p class="excerpt"></p>
                        </div>
                      </div>
                    </li>
                </ul>
                {% endfor %}
                {% else %}
                <article>
                    <div class="media-body">
                        No projects defined for you.
                    </div>
                </article>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
                <h2>Your modules</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if modules %}
                {% for m in modules %}
                    <ul class="list-unstyled timeline">
                        <li>
                          <div class="block">
                            <div class="tags">
                              <a href="" class="tag">
                                <span>{{ m.status }}</span>
                              </a>
                            </div>
                            <div class="block_content">
                                <h2 class="title"><a href="{{ url_for('projects.edit_module',pid=m.project_id,id=m.id) }}">{{ m.name }}</a></h2>
                              <div class="byline">
                                <span>Project:</span> <a>{{ m.project }}</a>
                              </div>
                              <p class="excerpt"></p>
                            </div>
                          </div>
                        </li>
                    </ul>
                {% endfor %}
                {% else %}
                <article>
                    <div class="media-body">
                        No modules defined for you.
                    </div>
                </article>
                {% endif %}
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
                <h2>Your Todos</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              {% if todos %}
                {% for t in todos %}
                      <ul class="list-unstyled timeline">
                        <li>
                          <div class="block">
                            <div class="tags">
                              <a href="" class="tag">
                                <span>{{ t.status }}</span>
                              </a>
                            </div>
                            <div class="block_content">
                                <h2 class="title"><a href="{{ url_for('projects.edit_todo',pid=t.project_id,id=t.id) }}">{{ t.name }}</a></h2>
                              <div class="byline">
                                <span>Assigned to</span> <a>{{ t.assigned_to }}</a>
                              </div>
                              <p class="excerpt"></p>
                            </div>
                          </div>
                        </li>
                    </ul>
                {% endfor %}
                {% else %}
                <article>
                    <div class="media-body">
                        No todos defined for you.
                    </div>
                </article>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}


{% block javascripts %}
{{ super()}}
<!-- Parsley -->
<script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
<!-- Select2 -->
<script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>
{% endblock javascripts %}
