{% import "_tablehelper.html" as helper %}
{% extends "layout/list_layout.html" %}

{% block title_left %} {{ project.name }} {% endblock title_left %}

{% block title_table %} Vulnerabilities

{% endblock title_table %}

{% block above_table_text %}<div style="text-align: center">
    <a href="{{ url_for('projects.vulns_add', pid=project.id) }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Add
    </a>
    <a href="#" class="btn btn-success">
        <i class="glyphicon glyphicon-duplicate"></i> Add from template
    </a>
</div>{% endblock above_table_text %}

{% block list_table %}
{{ super() }}
{% if vulns %}
    <table id="datatable-buttons" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="5%"> # </th>
                <th width="45%"> Name </th>
                <th width="15%"> Impact</th>
                <th width="15%"> Likelihood</th>
                <th width="20%"> Actions </th>
            </tr>
            </thead>
            <tbody>
            {% for v in vulns %}
              <tr>
                <td> {{ v.id }} </td>
                <td> {{ v.name }} </td>
                <td> {{ helper.render_impact(v.impact) }} </td>
                <td> {{ helper.render_likelihood(v.likelihood) }} </td>
                <td>
                <a href="#" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-edit"></i> Edit</a>
                <a href="#" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-trash"></i> Delete</a>
            </td>
              </tr>
            {% endfor %}
            </tbody>
      </table>
    </div>
{% else %}
    <div style="text-align: center">
      <p> No vulnerabilities are defined for that project. </p>
      <hr class="intro-divider">
    </div>
{% endif %}

{% endblock list_table %}

