{% macro render_field(field) %}
  <div class="form-group">
    {{ field.label(class="control-label col-md-3 col-sm-3 col-xs-12") | safe }}
    <div class="col-md-6 col-sm-6 col-xs-12">
      {{ field(class="form-control col-md-7 col-xs-12", **kwargs)|safe }}
    </div>
  {% if field.errors %}
    <ul>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}


{% macro render_submit_field(field) %}
  <div class="form-group">
    <div class="col-md-3 col-sm-3 col-xs-12"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {{ field(class="btn btn-primary", **kwargs)|safe }}
    </div>

  </div>
{% endmacro %}




{% macro render_select2_field(field) %}
  <div class="form-group">
    {{ field.label(class="control-label col-md-3 col-sm-3 col-xs-12") | safe }}
    <div class="col-md-6 col-sm-6 col-xs-12">
      {{ field(**{'data-role': "select2", 'class': "form-control col-md-7 col-xs-12"})|safe }}
    </div>
  {% if field.errors %}
    <ul>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}
