{% macro render_impact(impact) %}
  {% if impact.name == 'Critical' %}
    <span style="color:#9932CC; font-weight:bold">{{ impact.name }}</span>
  {% elif impact.name == 'High' %}
    <span style="color:#B22222;font-weight:bold">{{ impact.name }}</span>
  {% elif impact.name == 'Medium' %}
    <span style="color:#FF8C00">{{ impact.name }}</span>
  {% elif impact.name == 'Low' %}
    <span style="color:#FFD700">{{ impact.name }}</span>
  {% elif impact.name == 'Info' %}
    <span style="color:#A9A9A9">{{ impact.name }}</span>
  {% else %}
    {{ impact.name }}
  {% endif %}
{% endmacro %}

{% macro render_likelihood(likelihood) %}
  {% if likelihood.name == 'Critical' %}
    <span style="color:#9932CC; font-weight:bold">{{ likelihood.name }}</span>
  {% elif likelihood.name == 'High' %}
    <span style="color:#B22222;font-weight:bold">{{ likelihood.name }}</span>
  {% elif likelihood.name == 'Medium' %}
    <span style="color:#FF8C00">{{ likelihood.name }}</span>
  {% elif likelihood.name == 'Low' %}
    <span style="color:#FFD700">{{ likelihood.name }}</span>
  {% elif likelihood.name == 'Info' %}
    <span style="color:#A9A9A9">{{ likelihood.name }}</span>
  {% else %}
    {{ likelihood.name }}
  {% endif %}
{% endmacro %}
