{% extends "layout/list_layout.html" %}

{% block title_left %}  {% endblock title_left %}

{% block title_table %} Available templates {% endblock title_table %}

{% block above_table_text %}
{% endblock above_table_text %}

{% block list_table %}
{{ super() }}
{% if templates %}
<table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th width="80%"> Template </th>
            <th width="20%"> Actions </th>
        </tr>
        </thead>
        <tbody>
        {% for t in templates %}
          <tr>
            <td> {{ t }} </td>
            <td>
                <a href="{{ url_for('projects.export', pid=project.id, template=t) }}" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-eye-open"></i> Export</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
  </table>
</div>
{% else %}
    <div style="text-align: center">
      <p> No templates available </p>
      <hr class="intro-divider">
    </div>
{% endif %}

{% endblock list_table %}

{% block below_list_table %}{% endblock below_list_table %}
