{% import "_tablehelper.html" as helper %}
{% extends "layout/list_layout.html" %}

{% block title_left %} {{ project.name }} {% endblock title_left %}

{% block title_table %} Systems

{% endblock title_table %}

{% block above_table_text %}
<div style="text-align: center">
    <a href="{{ url_for('projects.vulns_add', pid=project.id) }}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Add
    </a>
</div>
{% endblock above_table_text %}

{% block list_table %}
{{ super() }}
{% if hosts %}
    <table id="datatable-buttons" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="5%"> # </th>
                <th width="35%"> hostname</th>
                <th width="20%"> OS</th>
                <th width="20%"> Address</th>
                <th width="20%"> Actions </th>
            </tr>
            </thead>
            <tbody>
            {% for h in hosts %}
              <tr>
                <td> {{ h.id }} </td>
                <td> {{ h.hostname }} </td>
                <td> {{ h.os }} </td>
                <td> {{ h.ipv4 }} </td>
                <td>
                <a href="#" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-edit"></i> Edit</a>
                <a href="#" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-trash"></i> Delete</a>
            </td>
              </tr>
            {% endfor %}
            </tbody>
      </table>
    </div>
{% else %}
    <div style="text-align: center">
      <p> No systems are defined for that project. </p>
      <hr class="intro-divider">
    </div>
{% endif %}

{% endblock list_table %}