{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_layout.html" %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
{{ super() }}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
            <h3>{% block title_left %}{% endblock title_left %}</h3>
        </div>
      </div>

        <div class="clearfix"></div>

        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                {% block title_form %}{% endblock title_form %}
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
                {% block form_content %}{% endblock form_content %}
            </div>
              {% block below_form %}{% endblock below_form %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}


{% block javascripts %}
  {{ super()}}
  <!-- Parsley -->
  <script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
  <!-- Select2 -->
  <script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>
{% endblock javascripts %}