<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>AURORA</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {% if current_user.first_name -%}
             {{ current_user.first_name }}
             {% else -%}
             {{ current_user.username }}
             {%- endif %} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="{{ url_for('main.index') }}"><i class="fa fa-home"></i> Home</a></li>
        {% if project %}
        <li><a><i class="fa fa-dashboard"></i> Project Dashboard <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{{ url_for('projects.dashboard', pid=project.id ) }}">Dashboard</a></li>
            <li><a href="{{ url_for('projects.vulns', pid=project.id ) }}">Vulnerabilities</a></li>
            <li><a href="{{ url_for('projects.systems', pid=project.id) }}">Systems</a></li>
            <li><a href="{{ url_for('projects.hosts', pid=project.id) }}">Hosts</a></li>
            <li><a href="{{ url_for('projects.todos', pid=project.id ) }}">Todos</a></li>
            <li><a href="{{ url_for('projects.modules', pid=project.id ) }}">Modules</a></li>
            <li><a href="{{ url_for('projects.methodologies',pid=project.id) }}">Methodologies</a></li>
            <li><a href="{{ url_for('projects.list_templates',pid=project.id) }}">Export</a></li>
          </ul>
        </li>
        {% endif %}
        <li><a><i class="fa fa-cogs"></i> Projects <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{{ url_for('projects.list') }}">List projects</a></li>
            <li><a href="{{ url_for('projects.create') }}">Add new project</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Templates <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{{ url_for('tags.list') }}">Tags</a></li>
            <li><a href="{{ url_for('references.list') }}">References</a></li>
            <li><a href="{{ url_for('vulns.list') }}">Vulnerabilities</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-users"></i> Contacts <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{{ url_for('contacts.companies') }}">Companies</a></li>
            <li><a href="{{ url_for('contacts.contacts') }}">Contacts</a></li>
          </ul>
        </li>
        {% if current_user.has_role('Admin') -%}
        <li><a><i class="fa fa-wrench"></i> Administration <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{{ url_for('admin.index') }}">Admin Interface</a></li>
            <!--<li><a href="{{ url_for('role.index_view') }}">Roles</a></li>
            <li><a href="{{ url_for('user.index_view') }}">Users</a></li>
            <li><a href="{{ url_for('methodology.index_view') }}">Methodology</a></li>-->
          </ul>
        </li>
        {%- endif -%}
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
