{% extends "layout/list_layout.html" %}

{% block title_left %}  {% endblock title_left %}

{% block title_table %} Available projects {% endblock title_table %}

{% block above_table_text %}
<div style="text-align: center">
    <a href="{{ url_for('projects.create') }}" class="btn btn-success">
      <i class="glyphicon glyphicon-plus"></i> Add Project
    </a>
</div>
{% endblock above_table_text %}

{% block list_table %}
{{ super() }}
{% if projects %}
<table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th width="5%"> # </th>
            <th width="25%"> Project name </th>
            <th width="20%"> Project Manager </th>
            <th width="10"> Status</th>
            <th width="20%"> Customer </th>
            <th width="20%"> Actions </th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td> {{ project.id }} </td>
            <td> {{ project.name }} </td>
            <td> {{ project.project_manager.username }} </td>
            <td> {{ project.status }} </td>
            <td> {{ project.customer }} </td>
            <td>
                <a href="{{ url_for('projects.dashboard', pid=project.id) }}" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-eye-open"></i> View</a>
                <a href="{{ url_for('projects.edit', id=project.id) }}" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-edit"></i> Edit</a>
                <a href="{{ url_for('projects.delete', id=project.id) }}" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-trash"></i> Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
  </table>
</div>
{% else %}
    <div style="text-align: center">
      <p> You don't have access to any projects. </p>
      <hr class="intro-divider">
    </div>
{% endif %}

{% endblock list_table %}

{% block below_list_table %}{% endblock below_list_table %}
