{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_layout.html" %}

{% block content %}
{{ super() }}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
            <div class="title_left">
                <h3>{{ project.name }} </h3>
            </div>
        </div>

      <div class="clearfix"></div>
      <a class="row top_tiles">
        <a href="{{ url_for('projects.vulns',pid=project.id) }}">
          <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-bug"></i></div>
              <div class="count">{{ vulns | length }}</div>
              <h3>Vulnerabilities</h3>
              <p>Number of vulnerabilities found in the project.</p>
            </div>
          </div>
        </a>
        <a href="{{ url_for('projects.todos',pid=project.id) }}">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-tasks"></i></div>
                <div class="count">{{ todos | length }}</div>
                <h3>ToDos</h3>
                <p>Status of project todos.</p>
              </div>
            </div>
        </a>
        <a href="{{ url_for('projects.systems', pid=project.id) }}">
          <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-cubes"></i></div>
              <div class="count">{{ systems | length }}</div>
              <h3>Systems</h3>
              <p>Number of systems assigned to project.</p>
            </div>
          </div>
        </a>
        <a href="{{ url_for('projects.hosts', pid=project.id) }}">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-desktop"></i></div>
                <div class="count">{{ hosts | length }}</div>
                <h3>Hosts</h3>
                <p>Number of hosts assigned to project.</p>
              </div>
            </div>
        </a>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
                <h2><a href="{{ url_for('projects.modules',pid=project.id) }}">Modules</a></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if modules %}
                {% for m in modules %}
                    <ul class="list-unstyled timeline">
                        <li>
                          <div class="block">
                            <div class="tags">
                              <a href="" class="tag">
                                <span>{{ m.status }}</span>
                              </a>
                            </div>
                            <div class="block_content">
                                <h2 class="title"><a href="{{ url_for('projects.edit_module',pid=project.id,id=m.id) }}">{{ m.name }}</a></h2>
                              <div class="byline">
                                <span>Assigned to</span> <a>{{ m.assigned_to }}</a>
                              </div>
                              <p class="excerpt"></p>
                            </div>
                          </div>
                        </li>
                    </ul>
                {% endfor %}
                {% else %}
                <article>
                    <div class="media-body">
                        No modules defined for that project.
                    </div>
                </article>
                {% endif %}
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
                <h2><a href="{{ url_for('projects.methodologies',pid=project.id) }}">Methodologies</a></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              {% if methodologies %}
                {% for m in methodologies %}
                <article class="media event">
                    <div class="media-body">
                        <a class="title" href="#">{{ m.name }}</a>
                    </div>
                </article>
                {% endfor %}
                {% else %}
                <article>
                    <div class="media-body">
                        No methodologies defined for that project.
                    </div>
                </article>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
                <h2><a href="{{ url_for('projects.todos',pid=project.id) }}">Todos</a></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              {% if todos %}
                {% for t in todos %}
                      <ul class="list-unstyled timeline">
                        <li>
                          <div class="block">
                            <div class="tags">
                              <a href="" class="tag">
                                <span>{{ t.status }}</span>
                              </a>
                            </div>
                            <div class="block_content">
                                <h2 class="title"><a href="{{ url_for('projects.edit_todo',pid=project.id,id=t.id) }}">{{ t.name }}</a></h2>
                              <div class="byline">
                                <span>Assigned to</span> <a>{{ t.assigned_to }}</a>
                              </div>
                              <p class="excerpt"></p>
                            </div>
                          </div>
                        </li>
                    </ul>
                {% endfor %}
                {% else %}
                <article>
                    <div class="media-body">
                        No todos defined for that project.
                    </div>
                </article>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}


{% block javascripts %}
{{ super()}}
<!-- Parsley -->
<script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
<!-- Select2 -->
<script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>
{% endblock javascripts %}
