{% extends "base_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field , render_checkbox_field%}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <!-- Animate.css -->
  <link href="{{ url_for('static', filename='vendors/animate.css/animate.min.css') }}" rel="stylesheet">
  <!-- Alertify -->
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/alertify.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/alertifyjs/css/custom.alertify.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <!-- jQuery -->
  <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
  <!-- Alertify -->
  <script src="{{ url_for('static', filename='vendors/alertifyjs/alertify.min.js') }}"></script>
  <!-- Parsley -->
  <script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
  <!-- Login -->
  <script src="{{ url_for('static', filename='build/js/login.js') }}"></script>
  <div>
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
            <div class="login-panel panel panel-default">
                <div class="panel-heading"><h1>Login</h1></div>
                <div class="panel-body">
                    {%- with messages = get_flashed_messages(with_categories=true) -%}
                        {% if messages %}
                        <ul class="flashes">
                          {% for category, message in messages %}
                          <li class="{{ category }}">{{ message }}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                    {%- endwith %}
                  <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                      {{ login_user_form.hidden_tag() }}
                      {{ render_field(login_user_form.email) }}
                      {{ render_field(login_user_form.password) }}
                      {{ render_checkbox_field(login_user_form.remember) }}
                      {{ render_field(login_user_form.next) }}
                      {{ render_field(login_user_form.submit, class="btn btn-primary") }}
                  </form>
                </div>
            </div>
        </section>
      </div>
    </div>
  </div>
{% endblock body %}

